html {
	font-family: 'Source Sans 3', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

header {
	color: white;
	margin: 0;
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin-right: 2em;
}

#hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0;
	height: 100vh;
	justify-content: center;
}

#banner-title {
	font-weight: bold;
	color: white;
	display: flex;
	text-align: center;
	font-size: 120px;
	margin-bottom: 0;
}

#banner-title-subheading {
	font-weight: bold;
	font-size: 16px;
	word-spacing: 3rem;
	margin: 0;
	transform: translateY(-20px);
}

#prolearn {
	text-align: center;
	justify-content: center;
}

#prolearnlearn {
	color:#C271FF;
}

#pro-card {
	display: flex;
	align-items: center;
	color: white;
	margin: 0;
	gap: 12rem;
	justify-content: center;
}

#quote {
	color: white;
	margin: 0;
	background-color: #C271FF;
	background-size: cover;
	background-position: center;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	gap: 3rem
}

#quote blockquote {
	margin: 0 0 1rem 0; 
}

#quote em {
	font-style: italic;
}

#Video-Section {
	text-align: center;
	padding: 4rem 2rem;
}

#popularvid {
	color:#C271FF;
}

.button {
	height: 2rem;
	width: 10rem;
	border-radius: 0.5rem;
	background-color: #C271FF;
	color: white;
	margin-top: 3rem;
	font-weight: bold;
}

p {
	color: white;
}
